.wrapper-main1 {
    position: relative;
    margin-top: 151px;
}

.photo3 {
    width: 860px;
    height: 480px;
    position: absolute;
    top: 187px;
    background: url("../../../images/main/julia-1.png") no-repeat -4px -56px;
    background-size: cover;
}


.photo4 {
    position: absolute;
    right: 335px;
    top: -3px;
    width: 599px;
    height: 411px;
    background: url("../../../images/main/taisiia-stupak-1.png") no-repeat center -140px;
}